# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
CONFIG.txt
# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor and OS files
*.swp
*.swo
.DS_Store
Thumbs.db

# Git
.git/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log
*.out
*.err
